::placeholder {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 150.02%;
}
.app__button {
  cursor: pointer;
  background: #7E34F7;
  border: none;
  color: #FFF;
  border-radius: 4px;
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150.02%;
  text-align: center;
  width: 83px;
  height: 30px;
}
.app__input {
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  margin-right: 13px;
  margin-left: 12px;
}
.app__add-comment {
  display: flex;
  margin-bottom: 44px;
}
.app__hr {
  margin-bottom: 40px;
  background-color: #E5E5E5;
  border: none;
  height: 1px;
}
.app__h1 {
  margin-top: 0px;
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 38px;
  color: #000;
}
.app__main {
  height: 100vh;
  width: 100vw;
  background-color: #E5E5E5;
  position: absolute;
  overflow: scroll;
}
.app__content {
  padding-top: 38px;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 64px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;
  background-color: #FFF;
}
@media only screen and (max-width: 889px) {
    .app__content {
        margin-left: 5%;
        margin-right: 5%;
    }
}

