.inline_block {
  display: inline-block;
}
.comment__span {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
}
.comment__name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #21293c;
}
.comment__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4B587C;
}
.comment {
  margin-left: 11px;
  width: 100%;
}
.comment__reply__container {
  width: 100%;
}
.comment__body {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.comment__button {
  cursor: pointer;
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13.31px;
  color: #4B587C;
  background: #FFF;
  border: none;
}
.comment__votes {
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13.31px;
  color: #4B587C;
}
.comment__main {
  display: flex;
  margin-top: 41px;
}
.comment__reply {
  display: flex;
}
.comment__reply__vr {
  border-left: 2px solid #EAEAEA;
  position: relative;
  left: -27px;
  top: -27px;
}
