.reply__input {
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  height: 30px;
  width: 100%;
}
.reply__container {
  display: flex;
  margin-top: 5px;
}
.reply__button {
  cursor: pointer;
  background: #7E34F7;
  border: none;
  color: #FFF;
  border-radius: 4px;
  font-family: 'Inter', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 150.02%;
  text-align: center;
  width: 83px;
  height: 30px;
  margin-left: 12px
}
